*.log
*.obj
*.exe
*.pdb
*.idb
*.ilk
*.aps
*.ncb
*.suo
*.sdf
*.ipch
*.tlog
*.VC.db
*.VC.VC.opendb
*.VC.VC.db-wal
*.VC.VC.db-shm
.vscode/
*.code-workspace
Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vs/
.vscode/
Build/
Config/
Content/Developers/
Content/Collections/
*.uprojectdirs
